<div class="st-node">
  <button ng-click="$ctrl.toggleNode()" class="btn btn-sm btn-link" type="button">
    <i class="glyphicon" ng-show="!$ctrl.isLeaf" ng-class="{'glyphicon-menu-right': !$ctrl.isOpen, 'glyphicon-menu-down': $ctrl.isOpen}"></i>
    <div ng-show="$ctrl.isLeaf" style="width: 1em;"></div>
  </button>

  <input type="checkbox" name="{{$ctrl.currentNodePath}}" indeterminate 
    ng-disabled="$ctrl.readonly || (!$ctrl.isLeaf && $ctrl.single)" 
    ng-model="$ctrl.selections[$ctrl.currentNodePath]" 
    ng-change="$ctrl.toggleNodeSelection()"
    style="margin-right: 1em;">

  <span>
    <i class="glyphicon" ng-class="{'glyphicon-folder-open': !$ctrl.isLeaf, 'glyphicon-file': $ctrl.isLeaf}" style="margin-right: 0.5em;"></i>
    <span ng-show="!$ctrl.hasDescription">{{$ctrl.currentNodeTitle}}</span>
    <button ng-show="$ctrl.hasDescription" ng-click="$ctrl.toggleDescription($ctrl.currentNode)" class="btn btn-link" type="button">{{$ctrl.currentNodeTitle}}</button>
  </span>

  <div ng-show="!$ctrl.isLeaf && $ctrl.isOpen" style="margin-left: 1.25em;">
    <sf-obiba-selection-tree-node
      ng-repeat="node in $ctrl.currentNode.nodes | treeFilter:$ctrl.textFilter"
      node="node"
      selections="$ctrl.selections"
      text-filter="$ctrl.textFilter"
      single="$ctrl.single"
      parent-node="$ctrl.currentNode"
      on-toggle-children-selections="$ctrl.toggleChildrenSelections(selections)"
      on-toggle-description="$ctrl.toggleDescription(node)"
      readonly="$ctrl.readonly">
    </sf-obiba-selection-tree-node>
  </div>
</div>