<div class="row">
  <button ng-click="$ctrl.toggleNode()" class="btn btn-sm btn-link" type="button">
    <i class="glyphicon" ng-show="!$ctrl.isLeaf" ng-class="{'glyphicon-menu-right': !$ctrl.isOpen, 'glyphicon-menu-down': $ctrl.isOpen}"></i>
    <div ng-show="$ctrl.isLeaf" style="width: 1em;"></div>
  </button>

  <input ng-show="!$ctrl.readonly" type="checkbox" name="{{$ctrl.currentNodePath}}" ng-model="$ctrl.selections[$ctrl.currentNodePath]" ng-change="$ctrl.toggleNodeSelection()">

  <span style="margin-left: 1em;">
    <i class="glyphicon" ng-class="{'glyphicon-folder-open': !$ctrl.isLeaf, 'glyphicon-file': $ctrl.isLeaf}" style="margin-right: 0.5em;"></i>
    {{$ctrl.currentNodeTitle}}
  </span>

  <div ng-show="!$ctrl.isLeaf && $ctrl.isOpen" class="row" style="margin-left: 2em;">
    <sf-obiba-selection-tree-node
      ng-repeat="node in $ctrl.currentNode.nodes"
      node="node"
      selections="$ctrl.selections"
      parent-node="$ctrl.currentNode"
      on-toggle-children-selections="$ctrl.toggleChildrenSelections(selections)"
      readonly="$ctrl.readonly">
    </sf-obiba-selection-tree-node>
  </div>
</div>